$sidebar-width : 250px;
$sidebar-before-width : 5px;
$sidebar-before-width-active : 10px;
$sidebar-before-width-hover : 10px;
$hamburger-color-closed: #1a1a1a;
$hamburger-color-open: #1a1a1a;
$overlay-bg-color: rgba(250,250,250,.8);
