/*-------------------------------*/
/*          Page variables       */
/*-------------------------------*/
$sidebar-width : 200px;
$sidebar-before-width : 3px;
$sidebar-before-width-active : 10px;
$sidebar-before-width-hover : 200px;