@import "_variables";
/*-------------------------------*/
/*          Page styles          */
/*-------------------------------*/
.bg-color-black{
	background-color: #000000;
}
.bg-color-red{
	background-color: #ec1b5a;
}
.bg-color-lblue{
	background-color: #79aefe;
}
.bg-color-blue{
	background-color: #314190;
}
.bg-color-green{
	background-color: #279636;
}
.bg-color-purple{
	background-color: #7d5d81;
}
.bg-color-yellow{
	background-color: #ead24c;
}


 body {
     position: relative;
     overflow-x: hidden;
     background-color: #ccc;
 }
 body,
 html { height: 100%;}
 
 .no-margin{
    margin:0;
}

.navbar{
  z-index: 999;
  border-radius: 0;
}

.navbar-default,#sidebar-wrapper{
    background-color: #f8f8f8;
    border-color:#e7e7e7;
}

/* Toggle Styles */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    &.toggled {
        padding-left: $sidebar-width;
        overflow: hidden;
        #sidebar-wrapper {
            width: $sidebar-width;
        }
        #page-content-wrapper {
            position: relative;
            margin-right: 0px; 
        }
    }
}

#sidebar-wrapper {
    z-index: 1000;
    margin-top:-1px;
    position: absolute; 
    left: $sidebar-width;
    width: 0;
    height: 100%;
    margin-left: - $sidebar-width;
    overflow-y: auto;
    overflow-x: hidden;
    border-right:1px solid transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}

.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        position: relative; 
        text-indent: 15px;
        line-height: 40px;
        a {
            display: block;
            text-decoration: none;
            color: #777;
        }
        &.open a .caret{
            border-left-color: transparent;
            border-top-color: #000;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            width: $sidebar-before-width;
            background-color: #1c1c1c;
            -webkit-transition: width .2s ease-in;
            -moz-transition:  width .2s ease-in;
            -ms-transition:  width .2s ease-in;
                    transition: width .2s ease-in;

        }
    }
}

/* Sidebar Styles */

.sidebar-nav li:first-child a {
    /*color: #1a1a1a;*/
    //background-color: #1a1a1a;
}
.sidebar-nav li{
    &.black:before {
        @extend .bg-color-black;
    }
    &.red:before {
        @extend .bg-color-red;
    }
    &.lblue:before {
        @extend .bg-color-lblue;
    }
    &.blue:before {
        @extend .bg-color-blue;
    }
    &.green:before {
        @extend .bg-color-green;
    }
    &.purple:before {
        @extend .bg-color-purple;
    }
    &.yellow:before {
        @extend .bg-color-yellow;
    }
}
// .sidebar-nav > li:nth-child(2):before,
// .sidebar-nav > li:nth-child(2) li:before {
//     background-color: #ec1b5a;   
// }
// .sidebar-nav > li:nth-child(3):before,
// .sidebar-nav > li:nth-child(3) li:before {
//     background-color: #79aefe;   
// }
// .sidebar-nav > li:nth-child(4):before,
// .sidebar-nav > li:nth-child(4) li:before {
//     background-color: #314190;   
// }
// .sidebar-nav > li:nth-child(5):before,
// .sidebar-nav > li:nth-child(5) li:before {
//     background-color: #279636;   
// }
// .sidebar-nav > li:nth-child(6):before,
// .sidebar-nav > li:nth-child(6) li:before {
//     background-color: #7d5d81;   
// }
// .sidebar-nav > li:nth-child(7):before,
// .sidebar-nav > li:nth-child(7) li:before {
//     background-color: #ead24c;   
// }

.sidebar-nav li.active:before {
    width: $sidebar-before-width-active;    
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before{
    width: $sidebar-before-width-hover;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
    color: #333;

}

.nav-pills>li >ul{display: none;}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
    color:#000;
    background-color: transparent;
}
/* End Sidebar Styles */

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left-color:#000;
  margin-top:0px;
  margin-right: 10px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: $sidebar-width;
        &.toggled {
            padding-left: 0;
            #sidebar-wrapper {
                width: $sidebar-width;
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
                padding-left: $sidebar-width;
            }
        }
        &.toggled-2
        {
            #sidebar-wrapper {
                width: 50px;
                &:hover {
                    width: $sidebar-width;
                }
            }
            #page-content-wrapper {
                position: relative;
                margin-right: 0;
                margin-left: - $sidebar-width + 50px;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                width: auto;
            }
        }
    }
    .fixed-brand{
        width: 250px;
    }

    #sidebar-wrapper {
        width: $sidebar-width;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .hamburger.navbar-toggle{
        display: none;
    }
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

.hamburger {
    position: relative;
    top: 10px;  
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    background: transparent;
    border: none;
    &.navbar-toggle{
        top:0;
    }
    &:hover,&:focus,&:active {
        outline: none;
    }
    &:before {
        content: '';
        display: block;
        width: 100px;
        font-size: 14px;
        color: #fff;
        line-height: 32px;
        text-align: center;
        opacity: 0;
        -webkit-transform: translate3d(0,0,0);
        -webkit-transition: all .35s ease-in-out;
    }
    &:hover:before {
        opacity: 1;
        display: block;
        -webkit-transform: translate3d(-100px,0,0);
        -webkit-transition: all .35s ease-in-out;
    }
}

.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom{
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: $hamburger-color-closed;  
}

.hamburger .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger:not(.is-open) .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger:not(.is-open):hover .hamb-top {
  top: 3px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger:not(.is-open):hover .hamb-bottom {
  bottom: 3px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: $hamburger-color-open;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-bg-color;
    z-index: 1;
}