/*-------------------------------*/
/*          Page styles          */
/*-------------------------------*/
/* line 5, ../scss/index.scss */
.bg-color-black, .sidebar-nav li.black:before {
  background-color: #000000;
}

/* line 8, ../scss/index.scss */
.bg-color-red, .sidebar-nav li.red:before {
  background-color: #ec1b5a;
}

/* line 11, ../scss/index.scss */
.bg-color-lblue, .sidebar-nav li.lblue:before {
  background-color: #79aefe;
}

/* line 14, ../scss/index.scss */
.bg-color-blue, .sidebar-nav li.blue:before {
  background-color: #314190;
}

/* line 17, ../scss/index.scss */
.bg-color-green, .sidebar-nav li.green:before {
  background-color: #279636;
}

/* line 20, ../scss/index.scss */
.bg-color-purple, .sidebar-nav li.purple:before {
  background-color: #7d5d81;
}

/* line 23, ../scss/index.scss */
.bg-color-yellow, .sidebar-nav li.yellow:before {
  background-color: #ead24c;
}

/* line 28, ../scss/index.scss */
body {
  position: relative;
  overflow-x: hidden;
  background-color: #ccc;
}

/* line 33, ../scss/index.scss */
body,
html {
  height: 100%;
}

/* line 36, ../scss/index.scss */
.no-margin {
  margin: 0;
}

/* line 40, ../scss/index.scss */
.navbar {
  z-index: 999;
  border-radius: 0;
}

/* line 45, ../scss/index.scss */
.navbar-default, #sidebar-wrapper {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

/* Toggle Styles */
/* line 51, ../scss/index.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
/* line 58, ../scss/index.scss */
#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}
/* line 61, ../scss/index.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
/* line 64, ../scss/index.scss */
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

/* line 71, ../scss/index.scss */
#sidebar-wrapper {
  z-index: 1000;
  margin-top: -1px;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 87, ../scss/index.scss */
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* line 90, ../scss/index.scss */
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

/* line 96, ../scss/index.scss */
.xyz {
  min-width: 360px;
}

/* line 100, ../scss/index.scss */
.fixed-brand {
  width: auto;
}

/* Sidebar Styles */
/* line 104, ../scss/index.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 111, ../scss/index.scss */
.sidebar-nav li {
  position: relative;
  text-indent: 15px;
  line-height: 40px;
}
/* line 115, ../scss/index.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #777;
}
/* line 120, ../scss/index.scss */
.sidebar-nav li.open a .caret {
  border-left-color: transparent;
  border-top-color: #000;
}
/* line 124, ../scss/index.scss */
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 5px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* Sidebar Styles */
/* line 144, ../scss/index.scss */
.sidebar-nav li:first-child a {
  /*color: #1a1a1a;*/
}

/* line 196, ../scss/index.scss */
.sidebar-nav li.active:before {
  width: 10px;
}

/* line 200, ../scss/index.scss */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 10px;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
  color: #333;
}

/* line 211, ../scss/index.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #000;
  background-color: transparent;
}

/* End Sidebar Styles */
/* line 219, ../scss/index.scss */
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

/* line 230, ../scss/index.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left-color: #000;
  margin-top: 0px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  /* line 246, ../scss/index.scss */
  #wrapper {
    padding-left: 250px;
  }
  /* line 248, ../scss/index.scss */
  #wrapper.toggled {
    padding-left: 0;
  }
  /* line 250, ../scss/index.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  /* line 253, ../scss/index.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  /* line 261, ../scss/index.scss */
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
  }
  /* line 263, ../scss/index.scss */
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }
  /* line 267, ../scss/index.scss */
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
  }

  /* line 279, ../scss/index.scss */
  .fixed-brand {
    width: 250px;
  }

  /* line 283, ../scss/index.scss */
  #sidebar-wrapper {
    width: 250px;
  }

  /* line 286, ../scss/index.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  /* line 294, ../scss/index.scss */
  .hamburger.navbar-toggle {
    display: none;
  }
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/* line 304, ../scss/index.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/* line 308, ../scss/index.scss */
.hamburger {
  position: relative;
  top: 10px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: transparent;
  border: none;
}
/* line 318, ../scss/index.scss */
.hamburger.navbar-toggle {
  top: 0;
}
/* line 321, ../scss/index.scss */
.hamburger:hover, .hamburger:focus, .hamburger:active {
  outline: none;
}
/* line 324, ../scss/index.scss */
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
/* line 336, ../scss/index.scss */
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/* line 344, ../scss/index.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

/* line 355, ../scss/index.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}

/* line 360, ../scss/index.scss */
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 364, ../scss/index.scss */
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

/* line 368, ../scss/index.scss */
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 373, ../scss/index.scss */
.hamburger.is-closed:hover .hamb-top {
  top: 3px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 377, ../scss/index.scss */
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 3px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 381, ../scss/index.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}

/* line 386, ../scss/index.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

/* line 391, ../scss/index.scss */
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 395, ../scss/index.scss */
.hamburger.is-open .hamb-middle {
  display: none;
}

/* line 396, ../scss/index.scss */
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 400, ../scss/index.scss */
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/* line 412, ../scss/index.scss */
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
/* line 423, ../scss/index.scss */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1;
}
