/*-------------------------------*/
/*          Page styles          */
/*-------------------------------*/
/* line 5, ../scss/index.scss */
.bg-color-black {
  background-color: #000000;
}

/* line 8, ../scss/index.scss */
.bg-color-red {
  background-color: #ec1b5a;
}

/* line 11, ../scss/index.scss */
.bg-color-lblue {
  background-color: #79aefe;
}

/* line 14, ../scss/index.scss */
.bg-color-blue {
  background-color: #314190;
}

/* line 17, ../scss/index.scss */
.bg-color-green {
  background-color: #279636;
}

/* line 20, ../scss/index.scss */
.bg-color-purple {
  background-color: #7d5d81;
}

/* line 23, ../scss/index.scss */
.bg-color-yellow {
  background-color: #ead24c;
}

/* line 26, ../scss/index.scss */
.bg-color- {
  background-color: #2d2366;
}

/* line 29, ../scss/index.scss */
.bg-color- {
  background-color: #35acdf;
}

/* line 34, ../scss/index.scss */
body {
  position: relative;
  overflow-x: hidden;
  background-color: #ccc;
}

/* line 39, ../scss/index.scss */
body,
html {
  height: 100%;
}

/* line 42, ../scss/index.scss */
.no-margin {
  margin: 0;
}

/* line 46, ../scss/index.scss */
.navbar {
  z-index: 999;
  border-radius: 0;
}

/* line 51, ../scss/index.scss */
.navbar-default, #sidebar-wrapper {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

/* Toggle Styles */
/* line 57, ../scss/index.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
/* line 64, ../scss/index.scss */
#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}
/* line 67, ../scss/index.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
/* line 70, ../scss/index.scss */
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

/* line 77, ../scss/index.scss */
#sidebar-wrapper {
  z-index: 1000;
  margin-top: -1px;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 93, ../scss/index.scss */
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

/* line 96, ../scss/index.scss */
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

/* line 102, ../scss/index.scss */
.xyz {
  min-width: 360px;
}

/* line 106, ../scss/index.scss */
.fixed-brand {
  width: auto;
}

/* Sidebar Styles */
/* line 110, ../scss/index.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 117, ../scss/index.scss */
.sidebar-nav li {
  position: relative;
  text-indent: 15px;
  line-height: 40px;
}
/* line 121, ../scss/index.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #777;
}
/* line 126, ../scss/index.scss */
.sidebar-nav li.open a .caret {
  border-left-color: transparent;
  border-top-color: #000;
}
/* line 130, ../scss/index.scss */
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

/* Sidebar Styles */
/* line 150, ../scss/index.scss */
.sidebar-nav li:first-child a {
  /*color: #1a1a1a;*/
}

/* line 154, ../scss/index.scss */
.sidebar-nav > li:nth-child(2):before,
.sidebar-nav > li:nth-child(2) li:before {
  background-color: #ec1b5a;
}

/* line 158, ../scss/index.scss */
.sidebar-nav > li:nth-child(3):before,
.sidebar-nav > li:nth-child(3) li:before {
  background-color: #79aefe;
}

/* line 162, ../scss/index.scss */
.sidebar-nav > li:nth-child(4):before,
.sidebar-nav > li:nth-child(4) li:before {
  background-color: #314190;
}

/* line 166, ../scss/index.scss */
.sidebar-nav > li:nth-child(5):before,
.sidebar-nav > li:nth-child(5) li:before {
  background-color: #279636;
}

/* line 170, ../scss/index.scss */
.sidebar-nav > li:nth-child(6):before,
.sidebar-nav > li:nth-child(6) li:before {
  background-color: #7d5d81;
}

/* line 174, ../scss/index.scss */
.sidebar-nav > li:nth-child(7):before,
.sidebar-nav > li:nth-child(7) li:before {
  background-color: #ead24c;
}

/* line 179, ../scss/index.scss */
.sidebar-nav li.active:before {
  width: 10px;
}

/* line 183, ../scss/index.scss */
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 5px;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -ms-transition: width .2s ease-in;
  transition: width .2s ease-in;
  color: #333;
}

/* line 194, ../scss/index.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #000;
  background-color: transparent;
}

/* End Sidebar Styles */
/* line 202, ../scss/index.scss */
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

/* line 213, ../scss/index.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left-color: #000;
  margin-top: 0px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  /* line 229, ../scss/index.scss */
  #wrapper {
    padding-left: 250px;
  }
  /* line 231, ../scss/index.scss */
  #wrapper.toggled {
    padding-left: 0;
  }
  /* line 233, ../scss/index.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  /* line 236, ../scss/index.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  /* line 244, ../scss/index.scss */
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 50px;
  }
  /* line 246, ../scss/index.scss */
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }
  /* line 250, ../scss/index.scss */
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
  }

  /* line 262, ../scss/index.scss */
  .fixed-brand {
    width: 250px;
  }

  /* line 266, ../scss/index.scss */
  #sidebar-wrapper {
    width: 250px;
  }

  /* line 269, ../scss/index.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  /* line 277, ../scss/index.scss */
  .hamburger.navbar-toggle {
    display: none;
  }
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/* line 287, ../scss/index.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/* line 291, ../scss/index.scss */
.hamburger {
  position: relative;
  top: 10px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  background: transparent;
  border: none;
}
/* line 301, ../scss/index.scss */
.hamburger.navbar-toggle {
  top: 0;
}
/* line 304, ../scss/index.scss */
.hamburger:hover, .hamburger:focus, .hamburger:active {
  outline: none;
}
/* line 307, ../scss/index.scss */
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
/* line 319, ../scss/index.scss */
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/* line 327, ../scss/index.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

/* line 338, ../scss/index.scss */
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}

/* line 343, ../scss/index.scss */
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 347, ../scss/index.scss */
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

/* line 351, ../scss/index.scss */
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 356, ../scss/index.scss */
.hamburger.is-closed:hover .hamb-top {
  top: 3px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 360, ../scss/index.scss */
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 3px;
  -webkit-transition: all .35s ease-in-out;
}

/* line 364, ../scss/index.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}

/* line 369, ../scss/index.scss */
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

/* line 374, ../scss/index.scss */
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 378, ../scss/index.scss */
.hamburger.is-open .hamb-middle {
  display: none;
}

/* line 379, ../scss/index.scss */
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/* line 383, ../scss/index.scss */
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/* line 395, ../scss/index.scss */
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
/* line 406, ../scss/index.scss */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1;
}
